/* VARIABLES */

$nav-height: 80px;

// Colors
$offWhite: #f8f9fb;
$white : #fff;
$black : #222;
$gray : #999;
$gray-2 : #D1D1D1;
$lightgray : #E1E1E1;
$blue : #1EAEDB;

//Text Colors


// Font sizes
$sectionPadding : 70px 350px;
$bannerHeading: 4.5em;
$bannerContent: 30px;

$sectionHeading: 3.0rem;
$sectionContent: 1rem;

$separatorMarginTop : 3rem;
$separatorMarginBottom : 3.5rem;

//sizes

$content-width: 1000px;
$breakpoint: 1500px;
$MinMobile: 280px;
$MaxMobile : 750px;
$footerHeight : 200px;
