@mixin banner{
  width: 100%;
  color: $black;
  .content{
    position: absolute;
    top: 40%;
    width: 100%;
  }
  img{
    width: 100%;
  }
  span{
    font-size: $bannerHeading;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    @include mQ(1200px, "min-width"){
      font-size: 3.5em;
    }
  }
  span.sub-title{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 30px;
  }
  @include mQ(1200px, "min-width"){
    max-height: 640px;
    overflow: hidden;
  }
}

@mixin clearFix{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

@mixin mQ($args...){
  @if length($args) == 1{
    @media screen and (max-width: nth($args, 1)){
      @content;
    }
  }
  @if length($args) == 2{
    @media screen and (nth($args, 2): nth($args, 1)){
      @content;
    }
  }
}
